
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: rgb(229, 228, 228);
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 485px;
    height: 370px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(212, 211, 211);
    background-color: white;
    visibility: hidden;
    .left-container {
        width: 254px;
        height: 100%;
        background-image: url(/cat-img.jpeg);
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
    }
    .text-container {
        margin-top: 0;
        width: 233px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            width: 80%;
            margin-left: 10%;
            margin-top: 3rem;
            font-size: 28px;
            font-weight: 600;;
        }
        ul {
            list-style: none;
            font-size: 11px;
            display: flex;
            flex-direction: column;
            height: 300px;
            margin-top: 0;
            li {
                margin-left: -2rem;
                padding: .25rem 0;
            }
        }
        .close-container {
            display: flex; 
            justify-content: flex-end;
            width: 100%;
            margin-top: 1rem;
            svg {
                width: 12px;
                height: 12px;
                margin-right: .5rem;
            }
            svg:hover { 
                cursor: pointer;
            }
        }
        .button-container {
            visibility: hidden;
            width: 100%;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            button {
                width: 80%;
                height: 30px;
                font-size: 12px;
                background-color: black;
                color: white;
                border: none;
            }
            button:hover {
                cursor: pointer;
            }
        }  
    }
}

.visible {
    visibility: visible;
    animation: slideUp 2s linear;
}

.hide {
    animation: slideDown 2s linear;
}

@keyframes slideUp {
    from {
      transform: translateY(200%);
    }
  
    to {
      transform: translateY(0%);
    }
}

@keyframes slideDown {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(200%);
      visibility: hidden;
    }
}